<div class="page">
  <div class="main-wrap">
    <div id="photos">
      <div id="photos-list">
        <%= render 'photos_list' %>
      </div>
      <div id="pagination-nav">
        <%= render 'pagination_nav', remote: true %>
      </div>
    </div>
  </div>

  <div class="side-wrap">
    <%= render "layouts/sidewrap" %>
  </div>
</div>
<script>
    $(document).ready(function () {
        var detector = function () {
            $(document).scroll(function () {
                console.log('sup')
                if(($(window).scrollTop() + $(window).height() == $(document).height())) {
                    // prevent multiple event triggers.
                    $('#photos').off('scroll');
                    var nextLink = $('.next a');
                    nextLink.click() // render new content via AJAX
          //              .done(detector()); // reset event
                }
            });
        };
        detector();
    });
</script>
