<div class="page">
  <div class="main-wrap">
    <div class="post">
      <div class="title">This is the title</div>
      <div class="image"><img src="https://img-9gag-fun.9cache.com/photo/a8y2o4e_460s_v1.jpg"></div>
      <div>32 points 16 Comment</div>
      <div class="post-function">
        <ul>
          <li><a class="glyphicon glyphicon-chevron-up"></a></li>
          <li><a class="glyphicon glyphicon-chevron-down"></a></li>
          <li><a class="glyphicon glyphicon-comment"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="side-bar">
    <div class="image"><img src="https://img-9gag-fun.9cache.com/photo/a8y2o4e_460s_v1.jpg"></div>
    <div class="image"><img src="https://img-9gag-fun.9cache.com/photo/a8y2o4e_460s_v1.jpg"></div>
  </div>
</div>