<h1>Users</h1>

<table class="table table-hover">
  <thead>
  <tr>
    <th>User id</th>
    <th>Email</th>
    <th>Image</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>
